* {
  font-family: Rubik, sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;

  box-sizing: border-box;
}

body {
  background-color: #2f2f2f;
  color: #8a8a8a;
}

.about {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    color: #cacaca;
    line-height: 3rem;
  }

  span {
    color :#8a8a8a;
    font-size: 1.1em;
    line-height: 1.8rem;
  }

  .highlight {
    font-weight: 500;
  }

  .follow-me {
    position: absolute;
    left: 0;
    top: calc(50% - 25%);

    ul {
      li:first-child {
        font-size: 10px;
        padding: 10px 5px;
      }

      li:not(:first-child) {
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 75px;
          height: 55px;
          padding-left: 20px;
          margin-left: -20px;

          transition: all 0.9s cubic-bezier(.05,.65,.18,1);


          span {
            display: block;
            width: 35px;
            height: 35px;
            background: url("images/icons.svg") no-repeat 0 1px;
            background-size: 100% auto;
            text-indent: -999em;
          }

          &:hover { 
            margin-left: 0;
          }

        }
      }
    }

    .github  {
      background: #4e545a;
      span {
        background-position: 0 -35px !important;
      }
    }

    .instagram {
      background : radial-gradient(circle at 25% 110%,#fdf497 0,#fdf497 5%,#fd5949 45%,#d6249f 60%,#285aeb 90%),radial-gradient(circle at 25% 110%,#b9a800 0,#938500 5%,#b10f00 45%,#8c0061 60%,#002ca9 90%);
    }

    .facebook { 
      background : #4064ac;

      span {
        background-position: 0 -105px !important;
      }
    }
    
  }
}

.menu-bar {
  position: absolute;
  right: 35px;
  top: 35px;

  z-index: 1001;
  cursor: pointer;
  padding: 5px 4px;
  background: transparent;

  overflow: hidden;

  i {
    display: block;
    width: 42px;
    height: 2px;
    margin: 8px;
    background-color: #7a7a7a;
    opacity: 1;

    transition: transform .5s cubic-bezier(.43,.77,.15,1.5),background .3s ease;
  }

  &:hover {
    & i:nth-child(1) {
      transform: translateY(-4px);
    }
    & i:nth-child(3) {
      transform: translateY(4px);
    }
  }
}

.menu-bar-active {
  & i:nth-child(2) {
    opacity: 0 !important;
  }

  & i:nth-child(1) {
    transform: translate(0, 10px) rotate(45deg) scale(1.5) !important;
  }

  & i:nth-child(3) {
    transform: translate(0, -10px) rotate(-45deg) scale(1.5) !important;
  }
}

.nav {
  width: 100vw;
  height: 100vh;
  background-color: #333;

  position: fixed;
  z-index: 1000;
  padding: 10% 0;

  transform: translate(0, -100%);
  transition: transform .45s cubic-bezier(.45,0,0,1);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &-active {
    transform: translate(0, 0);
  }

  a {
    color: #5a5a5a;
    // color: #9f9f9f;
    width: 90%;;
    max-width: 600px;
    height: calc(100% / 4);
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.02);

    position: relative;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    text-decoration: none;

    span {
      display: block;
      width: 100%;
      text-align: center;

      font-weight: bold;
    }
    
    &::before, &::after {
      content: '';
      height: 75%;
      width: 100%;

      position: absolute;
      left: 0;

      transition: transform .4s cubic-bezier(.65,.15,0,1);
    }

    &::before {
      top: 0;
      transform: translate3d(-100%, 0, 0);
      background-color: #2e2e2e;
      z-index: -1;
    }

    &::after {
      bottom: 0;
      transform: translate3d(100%, 0, 0);
      background-color: #2e2e2e;
      z-index: -1;
    }

    &:hover { 
      &::before, &::after {
        transform: translate3d(0,0,0);
      }
    }

  }
}